.formMainBox {
  height: 100vh;
  width: 100%;
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  .formBox {
    display: flex;
    width: 500px;
    height: 600px;
    flex-direction: column;
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    overflow-y: auto;
    box-shadow: 1px 1px 10px black;
    scrollbar-width: none;
    .closeBtn {
      position: absolute;
      top: 1rem;
      right: 1rem;
      > svg {
        font-size: 1.8rem;
        color: grey;
      }
    }
    > form {
      margin-top: 2rem;
    }
    .inputField {
      display: flex;
      flex-direction: column;
      margin: 5px 0;
      .formError {
        margin-top: 5px;
        color: red;
        font-size: 14px;
      }
    }
  }
}
